*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 4%);
  box-shadow: inset 0 0 0 .85vh hsl(0, 0%, 4%);
  font-size: 1.8rem;
  line-height: 1.55;
  display: grid;
  grid-template-areas: "h m"
                       "h m"
                       "h f";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 4rem;
  padding: 4rem;
}

::selection {
  background-color: blue;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  font-weight: 800;
  line-height: 1.15;
}

header {
  grid-area: h;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

header svg {
  height: 100%;
  width: auto;
}

main {
  grid-area: m;
  display: grid;
  grid-template-rows: auto 1fr;
}

main > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

main > nav > ul > li {
  display: inline-block;
}

main > nav > ul > li a {
  text-decoration: none;
  color: currentColor;
}

main > nav > ul > li a:hover {
  text-decoration: underline;
}

main > article {
  display: grid;
  place-items: center;
}

main > article > form {
  max-width: 70rem;
}

main > article > form h2 {
  font-size: 4rem;
}

main > article > form .double-fields {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

main > article > form label {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

main > article > form input[type="text"],
main > article > form input[type="number"],
main > article > form input[type="tel"],
main > article > form input[type="email"],
main > article > form input[type="password"] {
  width: 100%;
  padding: 1rem;
  font-size: inherit;
  border-color: rgba(0, 0, 0, .15);
  transition: border-color 150ms;
}

main > article > form input:focus {
  border-color: rgba(0, 0, 0, .75);
  outline: 0;
}

main > article > form input[type="submit"] {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: inherit;
  background-color: black;
  color: white;
  border-color: transparent;
  border-radius: .4rem;
  cursor: pointer;
  transition: transform 150ms;
}

main > article > form input[type="submit"]:active {
  background-color: blue;
  transform: translateY(.1rem);
}

footer {
  grid-area: f;
  text-align: right;
  /* background-color: crimson; */
}